:13390 {
    proxy / {$CLUSTER01}:9090 {
            transparent
        }

    errors stderr
    tls off
}

:13330 {
    proxy / {$CLUSTER01}:3000 {
            transparent
            websocket
        }

    errors stderr
    tls off
}

:13350 {
    proxy / {$CLUSTER01}:5601 {
            transparent
            websocket
        }

    errors stderr
    tls off
}

