:13390 {
    proxy / {$CLUSTER01}:9090 {
            transparent
        }

    errors stderr
    tls off
}

:13330 {
    proxy / {$CLUSTER01}:3000 {
            transparent
            websocket
        }

    errors stderr
    tls off
}

:13350 {
    proxy / {$CLUSTER01}:5601 {
            transparent
            websocket
        }

    errors stderr
    tls off
}

:13399 {
    proxy / {$CLUSTER01}:9999 {
            transparent
        }

    errors stderr
    tls off
}

:13393 {
    proxy / {$CLUSTER01}:9093 {
            transparent
        }

    errors stderr
    tls off
}

:13394 {
    proxy / {$CLUSTER01}:9094 {
            transparent
        }

    errors stderr
    tls off
}
